doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Express App
    body 
        h1 Login Page 
        form(action="/auth/login", method="post") 
            div
                label(for="username") 
                    input#username(type="email", name="username")
            br
            div
                label(for="password")
                    input#password(type="password", name="password" required minLength="8")
            br
            if error 
                div
                    span #{error.message}
                br

            button(type="submit") Login
