extends template/main.template.pug

block main
    body
        h1 Login Page 
        form(action="/auth/login", method="post") 
            input(type="hidden", name="_csrf" value=csrfToken)
            div
                label(for="username") 
                    input#username(type="email", name="username")
            br
            div
                label(for="password")
                    input#password(type="password", name="password" required minLength="8")
            br
            if error 
                div
                    span #{error.message}
                br

            button(type="submit") Login
