extends template/main.template.pug

block main
    body 
        h1 Hello world! 
        h2 Posts 
        //- if posts.length
        //-     p there are no posts
        for post in posts 
            div 
                a(href=`/posts/${post.id}`)
                    h3 #{post.id}) #{post.title}
                p #{post.body}
        else 
            p no post found