extends template/main.template.pug

block main
    body 
        h1 Hello world! 
        h2 Posts 
        for post in posts 
            div 
                a(href=`/posts/${post.id}`)
                    h3 #{post.id}) #{post.title}
                p #{post.body}