extends template/main.template.pug

block main
    body
        if error 
            p Error fetching post #{error}
        else
            h2 Post
            div 
                h3 #{post.id}) #{post.title}
                p #{post.body}